/chapter11
/chapter12
/chapter13
/chapter14
/desktop.ini
/labvenv
/moby_01.txt
/myfile.txt
/outfile.txt
/output.txt
/pca_students
/simulated_student_profiles.csv
/text_cleaner.py
/wc.py
/wc_redirect.py
/wc_sample
/__pycache__